@use "../../base/mixin" as mix;
@use "../../base/variables" as var;
@use "../../components/button" as btn;

@mixin styles {
  .projects {
    font-size: var.$sizeP-max1799;
    h1 {
      font-size: var.$size4-max1799;
      margin: 0.8em 0;
      padding: 0;
    }
    .projects__container {
      max-width: 850px; // End-Breakpoint InshaaAllah
      width: 60%;
      font-size: var.$sizeP-max1799;
      border-radius: 0.34em;
      img {
        font-size: var.$sizeP-max1799;
        border-radius: 0.34em;
      }
      .projects__container__txt-and-btn-info-cont {
        font-size: var.$sizeP-max1799;
        h2 {
          font-size: var.$size5-max1799;
        }
        p {
          font-size: var.$size6-max1799;
        }
        .projects__container__txt-and-btn-info-cont__btns-cont {
          button {
            font-size: var.$size6-max1799;
            padding: 0.81em 1.62em;
            cursor: pointer;
          }
        }
      }
    }
    dialog {
      max-width: 900px;
      font-size: var.$sizeP-max1799;
      border-radius: 0.3em;
      .img-carousel-cont__scroll-cont {
        font-size: var.$sizeP-max1799;
        &::-webkit-scrollbar-track {
          border-radius: 0.3em;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 0.3em;
        }
      }
      img {
        border-radius: 0.3em;
      }
      svg:nth-child(2) {
        font-size: var.$sizeP-max1799;
        color: var.$col-err4;
        cursor: pointer;
      }
    }
  }
}
