@forward "./screens/sm/phone";
@forward "./screens/md/tablet";
@forward "./screens/mdL/tabLands";
@forward "./screens/lg/deskt";
@forward "./screens/extraMQ/footerLine";

/* CSS Reset InshaaAllah */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
button {
  border: none;
  padding-inline: 0;
  padding-block: 0;
}
input {
  border: none;
}

/* Stilimet fillestare InshaaAllah */

html {
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  body {
    width: 100%;
    #root {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}
