@use "../../base/mixin" as mix;
@use "../../base/variables" as var;
@use "../../components/button" as btn;

.about-us {
  width: 90%;
  @include mix.flex(column, flex-start, center);
  h1 {
    @include mix.font(var.$quickSand, 40px, var.$col4, 700, 0.8em 0 1.4em 0, 0);
  }
  .about-us__card {
    width: 100%;
    border-radius: 8px;
    background-color: var.$col3;
    font-size: 16px;
    @include mix.flex(column, flex-start, center);
    margin-bottom: 3.5em;
    .about-us__card__left-cont {
      width: 85%;
      @include mix.flex(column, flex-start, center);
      // ky posht InshaaAllah eshte sa per divin e perkohshem sa te bej foton
      .about-us__card__left-cont__img-perkohshem {
        width: 70%;
        aspect-ratio: 1;
        font-size: 19px;
        background-color: var.$col1;
        border: 0.5em solid var.$col4;
        border-radius: 50%;
        margin-top: 2.5em;
      }
      button {
        @include btn.buttonMob(13px, white, var.$col4, 0.85em 1.7em, 0);
        transform: translateY(-65%);
      }
      border-bottom: 1px solid var.$col1;
    }
    p {
      @include mix.font(var.$martel, 13px, white, 600, 2em 2em, 0);
      padding-bottom: 3.5em;
      span {
        color: var.$col4;
        font-weight: 600;
        text-decoration: underline;
      }
    }
  }
}
