@use "../../base/mixin" as mix;
@use "../../base/variables" as var;
@use "../../components/button" as btn;

main {
  width: 100%;
  @include mix.flex(column, flex-start, center);
  margin-top: 50px;
  .home {
    width: 90%;
    @include mix.flex(column, flex-start, center);
    .home__text-group {
      width: 100%;
      @include mix.flex(column, flex-start, flex-start);
      h1 {
        @include mix.font(var.$quickSand, 33px, var.$col4, 700, 0, 1.5em 0 0 0);
        span {
          color: var.$col3;
        }
      }
      p {
        @include mix.font(var.$trirong, 16px, black, 500, 0.5em 0, 0);
      }
      button {
        @include btn.buttonMob(16px, white, var.$col3, 0.8em 1.6em, 0);
      }
    }
    img {
      padding: 5rem 0;
    }
    h3 {
      @include mix.font(var.$quickSand, 16px, var.$col4, 500, 0, 0 0 3.5em 0);
      svg {
        font-size: 19px;
        transform: translateY(20%);
      }
    }
  }
}
