@use "../../base/mixin" as mix;
@use "../../base/variables" as var;
@use "../../components/button" as btn;

main {
  width: 100%;
  @include mix.flex(column, flex-start, center);
  font-size: var.$sizeP-max599;
  margin-top: 3.125em;
  .home {
    width: 90%;
    @include mix.flex(column, flex-start, center);
    .home__text-group {
      width: 100%;
      @include mix.flex(column, flex-start, flex-start);
      h1 {
        @include mix.font(
          var.$quickSand,
          var.$size2-max599,
          var.$col4,
          700,
          0,
          1.5em 0 0 0
        );
        span {
          color: var.$col3;
        }
      }
      p {
        @include mix.font(
          var.$trirong,
          var.$size3-max599,
          black,
          500,
          0.5em 0,
          0
        );
      }
      button {
        @include btn.buttonMob(
          var.$size3-max599,
          white,
          var.$col3,
          0.85em 1.7em,
          0,
          0.61em
        );
      }
    }
    img {
      font-size: var.$sizeP-max599;
      padding: 5em 0;
      width: 90%;
    }
    h3 {
      @include mix.font(
        var.$quickSand,
        var.$size3-max599,
        var.$col4,
        500,
        0,
        0 0 3.2em 0
      );
      svg {
        font-size: var.$sizeP-max599;
        transform: translateY(20%);
      }
    }
  }
}
