@use "../../base/mixin" as mix;
@use "../../base/variables" as var;
@use "../../components/button" as btn;

.projects {
  width: 100%;
  @include mix.flex-col-between($al: center);
  font-size: var.$sizeP-max599;
  margin-bottom: 2em;
  h1 {
    @include mix.font(
      var.$quickSand,
      var.$size4-max599,
      var.$col4,
      700,
      0.8em 0 1.4em 0,
      0
    );
  }
  .projects__container {
    width: 90%;
    @include mix.flex-col-between($al: center);
    // border: 1px solid var.$col4;
    font-size: var.$sizeP-max599;
    border-radius: 0.5em;
    margin-bottom: 1.5em;
    box-shadow: var.$bxShadow1;
    background-color: var.$colDiv;
    img {
      width: 90%;
      font-size: var.$sizeP-max599;
      margin: 1em 0;
      border-radius: 0.5em;
    }
    .projects__container__txt-and-btn-info-cont {
      width: 90%;
      @include mix.flex-col-between($al: center);
      h3 {
        @include mix.font(
          var.$quickSand,
          var.$size1-max599,
          var.$col3,
          600,
          0,
          0
        );
      }
      p {
        @include mix.font(
          var.$martel,
          var.$size3-max599,
          var.$col4,
          600,
          1.23em 0,
          0
        );
        text-align: center;
      }
      .projects__container__txt-and-btn-info-cont__btns-cont {
        width: 90%;
        @include mix.flex-row-between();
        button {
          @include btn.buttonMob(
            var.$size3-max599,
            white,
            var.$col3,
            0.85em 1.7em,
            0 0 1.23em 0,
            0.61em
          );
        }
      }
    }
  }
  dialog {
    width: 90%;
    margin: auto;
    border: none;
    font-size: var.$sizeP-max599;
    border-radius: 0.5em;
    @include mix.flex(column, flex-start, center);
    .img-carousel-cont__scroll-cont {
      width: 80%;
      font-size: var.$sizeP-max599;
      margin-top: 3em;
      overflow-x: scroll;
      @include mix.flex(row, flex-start, center);
      &::-webkit-scrollbar {
        width: 100%;
        height: 0.3em;
      }
      &::-webkit-scrollbar-track {
        background: var.$colDiv;
        border-radius: 0.5em;
      }
      &::-webkit-scrollbar-thumb {
        background: var.$col3;
        border-radius: 0.5em;
      }
    }
    img {
      width: 100%;
      aspect-ratio: 1.3333;
      border-radius: 0.5em;
    }
    svg:nth-child(3) {
      color: var.$col-err4;
      font-size: var.$sizeP-max599;
      width: 2em;
      height: 2em;
      position: absolute;
      top: 0;
      right: 0;
      margin: 0.8em;
    }
    svg:nth-child(2) {
      color: var.$col3;
      font-size: var.$sizeP-max599;
      width: 2em;
      height: 2em;
      margin: 2em 0;
    }
    display: none;
    .img-carousel-cont__loading-spinner {
      width: 20%;
      margin: 1em auto;
      aspect-ratio: 1;
      border: 0.5em solid var.$col3;
      border-top: 0.5em solid white;
      border-radius: 50%;
      -webkit-animation: spin 1s linear infinite;
      animation: spin 1s linear infinite;
    }
    @keyframes spin {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(-360deg);
      }
    }
    @-webkit-keyframes spin {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(-360deg);
      }
    }
  }
}
