/* Flex */
@use "./variables" as var;

@mixin flex-row-between($jc: space-between, $al: center) {
  display: flex;
  flex-direction: row;
  justify-content: $jc;
  align-items: $al;
}
@mixin flex-col-between($jc: space-between, $al: flex-start) {
  display: flex;
  flex-direction: column;
  justify-content: $jc;
  align-items: $al;
}
@mixin flex($dr, $jc, $al) {
  display: flex;
  flex-direction: $dr;
  justify-content: $jc;
  align-items: $al;
}

/* Font */

@mixin font($ff, $fs, $cl, $w, $p, $m) {
  font-family: $ff;
  font-size: $fs;
  color: $cl;
  font-weight: $w;
  padding: $p;
  margin: $m;
}

/* Media query */

@mixin media-query($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

/* Button Animations InshaaAllah */

@mixin button-bckg-position-chg(
  $bckg: white,
  $w: 100%,
  $h: 100%,
  $aw: 0,
  $ah: 100%,
  $txtCol: white,
  $br: 0.61em
) {
  &::after {
    content: "";
    width: $w;
    height: $h;
    position: absolute;
    // top: 0;
    // left: 0;
    z-index: -1;
    border-radius: $br;
    background-color: $bckg;
    transition: 0.5s;
  }
  &:hover {
    color: $txtCol;
    &::after {
      width: $aw;
      height: $ah;
    }
    background-color: transparent;
  }
}

@mixin home-screen-btn-anim(
  $bckg: var.$col4,
  $w: 100%,
  $h: 0,
  $aw: 100%,
  $ah: 100%,
  $txtCol: white,
  $br: 0.5em,
  $secondBckg: var.$col3
) {
  @include button-bckg-position-chg($bckg, $w, $h, $aw, $ah, $txtCol, $br);
  &:hover::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -2;
    border-radius: $br;
    background-color: $secondBckg;
  }
}
