@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Trirong:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700&display=swap");

/* Color's */

$col1: #d5ffd0;
$col2: #40f8ff;
$col3: #279eff;
$col4: #0c356a;
$colDiv: #ebebeb;
$colCopyrightBanner: #061b35;

// -- error

$col-err1: #ffd0d0;
$col-err2: #ff4040;
$col-err3: #ff2727;
$col-err4: #6a0c0c;

// -- success

$col-succ1: #d0ffd0;
$col-succ2: #40ff40;
$col-succ3: #27ff27;
$col-succ4: #0c6a0c;

/* Font Family */

$quickSand: "Quicksand", sans-serif;
$trirong: "Trirong", serif;
$martel: "Martel", serif;

/* Box Shadow */

$bxShadow1: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
  rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

/* Font size's */

// SM
$size1-max599: clamp(1.44rem, calc(0.22rem + 6.09vw), 2.5rem); // 23-40
$size2-max599: clamp(1.75rem, calc(0.32rem + 7.17vw), 3rem); // 28-48
$size3-max599: clamp(0.81rem, calc(0.1rem + 3.58vw), 1.44rem); // 13-23
$size4-max599: clamp(2.5rem, calc(0.42rem + 10.39vw), 4.31rem); // 40-69
$size5-max599: clamp(1.19rem, calc(0.18rem + 5.02vw), 2.06rem); // 19-33
$sizeP-max599: clamp(1rem, calc(0.14rem + 4.3vw), 1.75rem); // 16-28

// MD
$size1-max899: clamp(2.06rem, calc(0.18rem + 5.02vw), 3rem); // 33-48
$size2-max899: clamp(2.5rem, calc(0.37rem + 5.69vw), 3.56rem); // 40-57
$size3-max899: clamp(1.19rem, calc(0.06rem + 3.01vw), 1.75rem); // 19-28
$size4-max899: clamp(3.56rem, calc(0.3rem + 8.7vw), 5.19rem); // 57-83
$size5-max899: clamp(1.75rem, calc(0.24rem + 4.01vw), 2.5rem); // 28-40
$sizeP-max899: clamp(1.44rem, calc(0.18rem + 3.34vw), 2.06rem); // 23-33

// MDL
$size1-max1199: clamp(1.75rem, 0.81rem + 1.67vw, 2.06rem); // 28-33
$size2-max1199: clamp(2.06rem, 0.75rem + 2.34vw, 2.5rem); // 33-40
$size3-max1199: clamp(1rem, 0.44rem + 1vw, 1.19rem); // 16-19
$size4-max1199: clamp(3rem, 1.31rem + 3.01vw, 3.56rem); // 48-57
$size5-max1199: clamp(1.44rem, 0.5rem + 1.67vw, 1.75rem); // 23-28
$size6-max1199: clamp(0.81rem, 0.25rem + 1vw, 1rem); // 13-16
$sizeP-max1199: clamp(1.19rem, 0.43rem + 1.34vw, 1.44rem); // 19-23

//LG
$size1-max1799: clamp(2.06rem, 1.19rem + 1.17vw, 2.5rem); // 33-40
$size2-max1799: clamp(2.5rem, 1.5rem + 1.34vw, 3rem); // 40-48
$size3-max1799: clamp(1.19rem, 0.69rem + 0.67vw, 1.44rem); // 19-23
$size4-max1799: clamp(3.56rem, 2.06rem + 2vw, 4.31rem); // 57-69
$size5-max1799: clamp(1.75rem, 1.12rem + 0.83vw, 2.06rem); // 28-33
$size6-max1799: clamp(1rem, 0.62rem + 0.5vw, 1.19rem); // 16-19
$sizeP-max1799: clamp(1.44rem, 0.81rem + 0.83vw, 1.75rem); // 23-28
